<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="party.pjc.blog.dao.TagsDao" >
  
  	<resultMap type="Tags" id="postByTagResult">
	  	<id property="id" column="tag_id" />
		<result property="tagName" column="tag_tagName" />
		<collection property="posts" ofType="Post">
			<id property="id" column="post_id" />
			<result property="title" column="post_title" />
			<result property="createDate" column="post_createDate" />
			<result property="html" column="post_html" />
			<association property="user" javaType="User">
			    <id property="id" column="user_id"/>
			    <result property="userName" column="user_username"/>
		   </association>
			<association property="categories" javaType="party.pjc.blog.model.Categories" >
				 <id property="id" column="cate_id"/>
				 <result property="categoriesName" column="cate_cateName"/>
			</association>
			<collection property="tags" ofType="Tags" column="post_id" javaType="Arraylist" select="selectTagsByPost">
				<id property="id" column="tag_id" />
				<result property="tagName" column="tag_tagName" />
			</collection>
		</collection>
  	</resultMap>

	 <select id="findAllTag" resultType="Tags">
	 		select * from t_tags 
	 		
	 </select>
	
	<select id="findPostByTag" parameterType="String" resultMap="postByTagResult">
		SELECT
		 p.id post_id,p.html post_html,p.markdown post_markdown,
		 p.createDate post_createDate ,p.lastEditDate post_lastEditDate,
		 p.title post_title,p.rate post_rate ,
		 u.userName user_userName,u.id user_id , 
		 t.id tag_id,
		 t.tagName tag_tagName,
		 c.id cate_id,
		c.categoriesName cate_cateName
		 FROM 
		 t_post p,t_user u ,t_tags t,t_post_tags pt,t_post_categories pc,t_categories c 
		 WHERE
		p.user_id = u.id  AND t.id=pt.tags_id AND  p.id=pt.post_id  AND p.id=pc.post_id AND p.state=1 AND c.id=pc.categories_id AND t.tagName=#{tagName}  ORDER BY p.createDate DESC 
	</select>

	<select id="selectTagsByPost" resultType="Tags">
	  SELECT t.tagName ,t.id FROM t_tags t,t_post p,t_post_tags pt  WHERE  p.id=pt.post_id and t.id=pt.tags_id and p.state=1 and p.id=#{id}
	</select>
	<select id="findTagsByName" resultType="Tags">
		select * from t_tags where tagName=#{tagName}
	</select>
	<insert id="insertTag" parameterType="Tags">
		insert into t_tags(tagName)  values(#{tagName})
	</insert>
	<select id="findPostCountByTags" parameterType="Tags" resultType="int">
		SELECT COUNT(*) FROM t_tags t,t_post p,t_post_tags pt
 			WHERE  p.id=pt.post_id AND t.id=pt.tags_id AND 
 			<if test="id > 0">
 				t.id=#{id}
 			</if>
 			<if test="tagName != null">
 				t.tagName =#{tagName}
 			</if>
 			;
	</select>
	
</mapper>