<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee
		 http://www.springmodules.org/schema/cache/springmodules-cache.xsd
     http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <display-name>LvcBlog</display-name>
  
  <welcome-file-list>
    <welcome-file></welcome-file>
	</welcome-file-list>
  
	  <filter>
	    <filter-name>WwwFilter</filter-name>
	    <filter-class>party.pjc.blog.filter.WwwFilter</filter-class>
	    <init-param>
	        <param-name>originUrl</param-name>
	        <param-value>www.ifusc.com</param-value>
	    </init-param>
	     <init-param>
	        <param-name>originUrlnow</param-name>
	        <param-value>ilvc.me</param-value>
	    </init-param>
	    <init-param>
	        <param-name>targetUrl</param-name>
	        <param-value>www.ilvc.me</param-value>
	    </init-param>
	</filter>
	
	<filter-mapping>
	    <filter-name>WwwFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	  
<!--   <filter>
	  <filter-name>UrlRewriteFilter</filter-name>
	  <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	  <init-param>
		<param-name>logLevel</param-name>
		<param-value>debug</param-value>
	</init-param>
  </filter>
	<filter-mapping>
	  <filter-name>UrlRewriteFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	  <dispatcher>REQUEST</dispatcher>
	  <dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
 -->
	  
  <!-- 404页面 -->
    <error-page>
       <error-code>404</error-code>
       <location>/404.jsp</location>
    </error-page>
    <!-- 500页面 -->
    <error-page>
       <error-code>500</error-code>
       <location>/500.jsp</location>
    </error-page>
  
  
   <!-- shiro过滤器定义 -->
	<filter>  
	    <filter-name>shiroFilter</filter-name>  
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>  
	    <init-param>  
		    <!-- 该值缺省为false,表示生命周期由SpringApplicationContext管理,设置为true则表示由ServletContainer管理 -->  
		    <param-name>targetFilterLifecycle</param-name>  
		    <param-value>true</param-value>  
	    </init-param>  
		</filter>  
	<filter-mapping>  
	        <filter-name>shiroFilter</filter-name>  
	        <url-pattern>/*</url-pattern>  
	</filter-mapping>
	
	
    <!-- Spring配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 添加获取首页数据 的监听器 -->
	<!--   <listener>
	  	<listener-class>party.pjc.blog.listener.InitBlogData</listener-class>
	  </listener> -->
	<!-- 添加对springmvc的支持 -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!-- <async-supported> 报错，数据因为这个是标签是web3.0才有的，而这里使用的是2.5 所以的添加两个协议 
			http://www.springmodules.org/schema/cache/springmodules-cache.xsd
     http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd
		-->
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 连接池 启用 Web 监控统计功能    start--> 
	<!-- <filter>
		<filter-name>DruidWebStatFilter </filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter </filter-class>
		<init-param>
			<param-name>exclusions </param-name>
			<param-value>*. js ,*. gif ,*. jpg ,*. png ,*. css ,*. ico ,/ druid /*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter </filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>DruidStatView </servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView </servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping> -->
</web-app>
